doctype html
html
  head
    title Iniciar Sesion - Fotaza 
    meta(charset="UTF-8")
    link(rel="stylesheet",  href="css.css ")
  body
    h1 Inicia sesion de tu cuenta en Fotaza!

    form(action="/api/usuarios/login" method="POST")
      
      div
        label(for="email") Nombre de usuario:
        input(type="email" name="email" required)

      div
        label(for="password") Contraseña:
        input(type="password" name="password" required)
        

      div
        button(type="submit") Iniciar sesion 

    if query.ok == 1
     p(style="color:green") Sesión iniciada correctamente

     script.
      setTimeout(() => {
      window.location.href = "/login";
      }, 3000);

    if query.error == 1
      p(style="color:red") Credenciales inválidas

    p ¿No esta registrado?  
      a(href="/registro") Registrate!
